<script src="static/script.js"></script>
  <nav class="navbar navbar-expand-lg navbar-light  navbarHome fixed-top">
  <div class="container">

      <a class="navbar-brand" href="#">
          <!-- <img src="images/logo.png" alt="iCantik"> -->
          <h1>PreDiabetes</h1>
      </a>

      <button class="navbar-toggler hamburger" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home</a>
              </li>

              <li class="nav-item active">
                  <a class="nav-link" href=#artikel>Artikel</a>
              </li>

              <li class="nav-item active">
                  <a class="nav-link" href="check.html">Check</a>
              </li>

              <li class="nav-item active">
                  <a class="nav-link" href=test.html>Test</a>
              </li>

              
          </ul>
      </div>

  </div>
</nav>
